<div class="about-main">
  <h1>Relive your memories</h1>
  
</div>
<div class="about-supporting">
  <h2>No more sorting through hundreds of pictures</h2>
  <p>Stories finds your best pictures and creates a new travlelog</p>
  <div class="btn btn-primary"><%= link_to "Sign Up", new_signup_path %></div>
