<head>
	<meta name="viewport" content="width=device-width,minimum-scale=1">
  <!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.sidr/2.2.1/stylesheets/jquery.sidr.dark.min.css">
  </head>
  
  <body>
 <a id="simple-menu" href="#sidr">Toggle menu</a>

<div id="sidr">
  <!-- Your content -->
  <ul>
    <li><a href="#">Home</a></li>
    <li class="active"><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>


	
<div class="main">
	<h1>Create and Share Stories</h1>
		<div class="btn btn-primary">Learn more</div>
  <%= link_to "About", about_path %> 
</div>
<div class="supporting">
  <h2>Share Your Experiences</h2>
  <p>Stories creates a journal with your very best photos.</p>
</div>
<div class="secondary">
  <img src="http://www.planwallpaper.com/static/images/Fall-Nature-Background-Pictures.jpg"/>
</div>
<div class="discover">
  <h2>Discover</h2>
  <div class="btn btn-primary">Learn more</div>
</div>
<div class="footer">
  <h3>A Shutterbug Project</h3>
</div>
 <script src="//cdn.jsdelivr.net/jquery/2.2.0/jquery.min.js"></script>
 <script src="//cdn.jsdelivr.net/jquery.sidr/2.2.1/jquery.sidr.min.js"></script>
  </body>