<head>
	<meta name="viewport" content="width=device-width,minimum-scale=1">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.sidr/2.2.1/stylesheets/jquery.sidr.dark.min.css">
</head>
	
<a id="menu" href="#sidr">Toggle menu</a>

<div id="sidr">
  <!-- Your content -->
  <ul>
    <li><a href="#">Home</a></li>
    <li class="active"><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>

<div class="main">
	<h1>Create and Share Stories</h1>
		<div class="btn btn-primary">Learn more</div>
</div>
<div class="supporting">
  <h2>Share Your Experiences</h2>
  <p>Stories creates a journal with your very best photos.</p>
</div>
<div class="secondary">
  <img src="http://www.planwallpaper.com/static/images/Fall-Nature-Background-Pictures.jpg"/>
</div>
<div class="discover">
  <h2>Discover</h2>
  <div class="btn btn-primary">Learn more</div>
</div>
<div class="footer">
  <h3>A Shutterbug Project</h3>
</div>
