
.main {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/a7/27/38/a72738e117fd20944bc3ff7780276ca5.jpg");
  height: 300px;
}

.about-main {
  background-image: url("http://dogwood.photography/images/photography-school.jpg");
  height: 300px;
}