// Place all the styles related to the Signups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signup {
  height: 300px;
  text-align: center;
  color: #C70039 ;
	background-image: 	url("https://www.ucsf.edu/sites/default/files/styles/2014_inline_5-col/public/fields/field_insert_file/news/woman-filling-out-medical-form.jpg?itok=uHCjiJoj")
    }